[project]
	description = A totally over-engineered gaming server written in Spring Boot
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Burt Alexander (mrstampy)
[access "refs/for/refs/*"]
	read = group user/Burt Alexander (mrstampy)
	push = group user/Burt Alexander (mrstampy)
	label-Code-Review = -2..+2 group user/Burt Alexander (mrstampy)
	label-Verified = -1..+1 group user/Burt Alexander (mrstampy)
	rebase = group user/Burt Alexander (mrstampy)
	removeReviewer = group user/Burt Alexander (mrstampy)
	submit = group user/Burt Alexander (mrstampy)
[access "refs/heads/*"]
	read = group user/Burt Alexander (mrstampy)
	create = group user/Burt Alexander (mrstampy)
	push = +force group user/Burt Alexander (mrstampy)
	pushMerge = group user/Burt Alexander (mrstampy)
[access "refs/tags/*"]
	push = +force group user/Burt Alexander (mrstampy)
	pushTag = group user/Burt Alexander (mrstampy)
	pushSignedTag = group user/Burt Alexander (mrstampy)
